In [2]:
import folium
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv('data8/공공보건의료기관현황.csv', encoding='cp949')

In [4]:

addr = pd.DataFrame(
    data['주소'].astype(str).apply(lambda x: x.split()[:2]).tolist(),
    columns=['시도', '군구']
)


addr.head()

    시도   군구
0  강원도  춘천시
1  강원도  삼척시
2  강원도  영월군
3  강원도  원주시
4  강원도  강릉시

In [5]:
addr['시도'].unique()

array(['강원도', '경기도', '경기', '경남', '창원시', '경상남도', '경상북도', '경산시', '경북',
       '인천광역시', '대구광역시', '전라남도', '대전광역시', '광주광역시', '제주특별자치도', '부산광역시',
       '전라북도', '충북', '서울특별시', '서울시', '부산특별시', '대전시', '충남', '전남', '충청남도',
       '울산광역시', '전북', '천안시', '충청북도'], dtype=object)

In [6]:
addr['시도']=='창원시'

0      False
1      False
2      False
3      False
4      False
       ...
222    False
223    False
224    False
225    False
226    False
Name: 시도, Length: 227, dtype: bool

In [7]:
addr.iloc[27]=['경상남도', '창원시']
addr.iloc[31]=['경상남도', '창원시']

In [8]:
addr[addr['시도']=='경산시']

     시도   군구
47  경산시  경안로

In [9]:
addr.iloc[47]=['경상북도','경산시']

In [10]:
addr[addr['시도']=='천안시']

      시도   군구
209  천안시  동남구
210  천안시  동남구

In [11]:
addr.iloc[209]=['충청남도','천안시']
addr.iloc[210]=['충첨남도', '천안시']

In [12]:
addr_aliases = {
    '경기': '경기도',
    '경남': '경상남도',
    '경북': '경상북도',
    '충북': '충청북도',
    '서울': '서울특별시',
    '부산': '부산광역시',
    '대전': '대전광역시',
    '충남': '충청남도',
    '전남': '전라남도',
    '전북': '전북특별자치도',
    '강원': '강원특별자치도'
}

addr['시도'] = addr['시도'].replace(addr_aliases)
addr['시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '인천광역시', '대구광역시', '전라남도', '대전광역시',
       '광주광역시', '제주특별자치도', '부산광역시', '전라북도', '충청북도', '서울특별시', '서울시',
       '부산특별시', '대전시', '충청남도', '울산광역시', '전북특별자치도', '충첨남도'], dtype=object)

In [13]:
addr[addr['군구']=='아란13길']
addr.iloc[75]=['제주특별자치도','제주시']
addr[addr['군구']=='아란13길']

Empty DataFrame
Columns: [시도, 군구]
Index: []

In [14]:
addr['시도군구']=addr['시도']+' '+addr['군구']
addr

       시도   군구      시도군구
0     강원도  춘천시   강원도 춘천시
1     강원도  삼척시   강원도 삼척시
2     강원도  영월군   강원도 영월군
3     강원도  원주시   강원도 원주시
4     강원도  강릉시   강원도 강릉시
..    ...  ...       ...
222  충청북도  제천시  충청북도 제천시
223  충청북도  충주시  충청북도 충주시
224  충청북도  충주시  충청북도 충주시
225  충청북도  영동군  충청북도 영동군
226  충청북도  단양군  충청북도 단양군

[227 rows x 3 columns]

In [15]:
addr['count']=0

addr

       시도   군구      시도군구  count
0     강원도  춘천시   강원도 춘천시      0
1     강원도  삼척시   강원도 삼척시      0
2     강원도  영월군   강원도 영월군      0
3     강원도  원주시   강원도 원주시      0
4     강원도  강릉시   강원도 강릉시      0
..    ...  ...       ...    ...
222  충청북도  제천시  충청북도 제천시      0
223  충청북도  충주시  충청북도 충주시      0
224  충청북도  충주시  충청북도 충주시      0
225  충청북도  영동군  충청북도 영동군      0
226  충청북도  단양군  충청북도 단양군      0

[227 rows x 4 columns]

In [16]:
addr_group=addr.groupby(['시도','군구','시도군구'], as_index=False).count()
addr_group

       시도   군구      시도군구  count
0     강원도  강릉시   강원도 강릉시      4
1     강원도  동해시   강원도 동해시      1
2     강원도  삼척시   강원도 삼척시      1
3     강원도  속초시   강원도 속초시      1
4     강원도  양구군   강원도 양구군      1
..    ...  ...       ...    ...
141  충청북도  영동군  충청북도 영동군      1
142  충청북도  제천시  충청북도 제천시      1
143  충청북도  청원군  충청북도 청원군      1
144  충청북도  청주시  충청북도 청주시      4
145  충청북도  충주시  충청북도 충주시      2

[146 rows x 4 columns]

In [17]:
addr_group.set_index('시도군구',inplace=True)
addr_group

            시도   군구  count
시도군구
강원도 강릉시    강원도  강릉시      4
강원도 동해시    강원도  동해시      1
강원도 삼척시    강원도  삼척시      1
강원도 속초시    강원도  속초시      1
강원도 양구군    강원도  양구군      1
...        ...  ...    ...
충청북도 영동군  충청북도  영동군      1
충청북도 제천시  충청북도  제천시      1
충청북도 청원군  충청북도  청원군      1
충청북도 청주시  충청북도  청주시      4
충청북도 충주시  충청북도  충주시      2

[146 rows x 3 columns]

In [18]:
population=pd.read_excel('data8/행정구역_시군구_별__성별_인구수_2.xlsx')
population

          시도       군구       총인구수      남자인구수      여자인구수
0        NaN      NaN        NaN        NaN        NaN
1      서울특별시       소계  9384325.0  4538354.0  4845971.0
2      서울특별시   　　　종로구   139378.0    67240.0    72138.0
3      서울특별시    　　　중구   121322.0    58651.0    62671.0
4      서울특별시   　　　용산구   212175.0   101793.0   110382.0
..       ...      ...        ...        ...        ...
288     경상남도   　　　거창군    59909.0    29480.0    30429.0
289     경상남도   　　　합천군    41096.0    20094.0    21002.0
290  제주특별자치도       소계   674353.0   337578.0   336775.0
291  제주특별자치도   　　　제주시   490888.0   245197.0   245691.0
292  제주특별자치도  　　　서귀포시   183465.0    92381.0    91084.0

[293 rows x 5 columns]

In [19]:
population['군구'] = population['군구'].astype(str).str.strip()
population['시도'] = population['시도'].astype(str).str.strip()

population['시도'].unique()

array(['nan', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시',
       '울산광역시', '세종특별자치시', '경기도', '강원특별자치도', '충청북도', '충청남도', '전북특별자치도',
       '전라남도', '경상북도', '경상남도', '제주특별자치도'], dtype=object)

In [20]:
addr['시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '인천광역시', '대구광역시', '전라남도', '대전광역시',
       '광주광역시', '제주특별자치도', '부산광역시', '전라북도', '충청북도', '서울특별시', '서울시',
       '부산특별시', '대전시', '충청남도', '울산광역시', '전북특별자치도', '충첨남도'], dtype=object)

In [21]:
population.loc[population['총인구수']==0]

        시도        군구  총인구수  남자인구수  여자인구수
56   인천광역시   중구영종출장소   0.0    0.0    0.0
57   인천광역시   중구용유출장소   0.0    0.0    0.0
65   인천광역시   서구검단출장소   0.0    0.0    0.0
108    경기도     송탄출장소   0.0    0.0    0.0
109    경기도     안중출장소   0.0    0.0    0.0
121    경기도     풍양출장소   0.0    0.0    0.0
136    경기도  화성시동부출장소   0.0    0.0    0.0
137    경기도  화성시동탄출장소   0.0    0.0    0.0
273   경상남도   사천남양출장소   0.0    0.0    0.0
275   경상남도     장유출장소   0.0    0.0    0.0
279   경상남도  양산시웅상출장소   0.0    0.0    0.0

In [23]:
population=population.loc[population['총인구수']!=0,:]
population.loc[population['총인구수']==0]

Empty DataFrame
Columns: [시도, 군구, 총인구수, 남자인구수, 여자인구수]
Index: []

In [24]:
population['시도군구']=population['시도']=" "+population['군구']
population

        시도    군구       총인구수      남자인구수      여자인구수   시도군구
0      nan   nan        NaN        NaN        NaN    nan
1       소계    소계  9384325.0  4538354.0  4845971.0     소계
2      종로구   종로구   139378.0    67240.0    72138.0    종로구
3       중구    중구   121322.0    58651.0    62671.0     중구
4      용산구   용산구   212175.0   101793.0   110382.0    용산구
..     ...   ...        ...        ...        ...    ...
288    거창군   거창군    59909.0    29480.0    30429.0    거창군
289    합천군   합천군    41096.0    20094.0    21002.0    합천군
290     소계    소계   674353.0   337578.0   336775.0     소계
291    제주시   제주시   490888.0   245197.0   245691.0    제주시
292   서귀포시  서귀포시   183465.0    92381.0    91084.0   서귀포시

[282 rows x 6 columns]

In [26]:

population=population[population['군구']!='합계']
population=population[population['군구']!='소계']
population.set_index('시도군구', inplace=True)
population

         시도    군구      총인구수     남자인구수     여자인구수
시도군구
nan     nan   nan       NaN       NaN       NaN
종로구     종로구   종로구  139378.0   67240.0   72138.0
중구       중구    중구  121322.0   58651.0   62671.0
용산구     용산구   용산구  212175.0  101793.0  110382.0
성동구     성동구   성동구  277090.0  134390.0  142700.0
...     ...   ...       ...       ...       ...
함양군     함양군   함양군   36873.0   17894.0   18979.0
거창군     거창군   거창군   59909.0   29480.0   30429.0
합천군     합천군   합천군   41096.0   20094.0   21002.0
제주시     제주시   제주시  490888.0  245197.0  245691.0
서귀포시   서귀포시  서귀포시  183465.0   92381.0   91084.0

[265 rows x 5 columns]

In [29]:
population = population.dropna(how='any')
population

         시도    군구      총인구수     남자인구수     여자인구수
시도군구
종로구     종로구   종로구  139378.0   67240.0   72138.0
중구       중구    중구  121322.0   58651.0   62671.0
용산구     용산구   용산구  212175.0  101793.0  110382.0
성동구     성동구   성동구  277090.0  134390.0  142700.0
광진구     광진구   광진구  335335.0  161154.0  174181.0
...     ...   ...       ...       ...       ...
함양군     함양군   함양군   36873.0   17894.0   18979.0
거창군     거창군   거창군   59909.0   29480.0   30429.0
합천군     합천군   합천군   41096.0   20094.0   21002.0
제주시     제주시   제주시  490888.0  245197.0  245691.0
서귀포시   서귀포시  서귀포시  183465.0   92381.0   91084.0

[264 rows x 5 columns]

In [47]:
merged=pd.merge(addr_group, population, on='시도군구', how='inner')
population.info()
addr_group.info()
merged.info()

KeyError: '시도군구'

In [40]:
population.head()

        시도   군구      총인구수     남자인구수     여자인구수
시도군구
종로구    종로구  종로구  139378.0   67240.0   72138.0
중구      중구   중구  121322.0   58651.0   62671.0
용산구    용산구  용산구  212175.0  101793.0  110382.0
성동구    성동구  성동구  277090.0  134390.0  142700.0
광진구    광진구  광진구  335335.0  161154.0  174181.0

In [42]:
addr_group = (
    addr
    .groupby(['시도', '군구'])
    .size()
    .reset_index(name='count')
)

addr_group.head()

    시도   군구  count
0  강원도  강릉시      4
1  강원도  동해시      1
2  강원도  삼척시      1
3  강원도  속초시      1
4  강원도  양구군      1

In [43]:
population = population.reset_index()
population.head()

   시도군구    시도   군구      총인구수     남자인구수     여자인구수
0   종로구   종로구  종로구  139378.0   67240.0   72138.0
1    중구    중구   중구  121322.0   58651.0   62671.0
2   용산구   용산구  용산구  212175.0  101793.0  110382.0
3   성동구   성동구  성동구  277090.0  134390.0  142700.0
4   광진구   광진구  광진구  335335.0  161154.0  174181.0

In [50]:
sido_alias = {
    '강원도': '강원특별자치도',
    '전라북도': '전북특별자치도',
    '전라남도': '전라남도',
    '경기도': '경기도',
    '충청북도': '충청북도',
    '충청남도': '충청남도',
    '경상북도': '경상북도',
    '경상남도': '경상남도'
}

addr_group['시도'] = addr_group['시도'].replace(sido_alias)

In [51]:
for df in [addr_group, population]:
    df['시도'] = df['시도'].astype(str).str.strip()
    df['군구'] = df['군구'].astype(str).str.strip()

In [52]:
merged = pd.merge(
    addr_group,
    population,
    on=['시도', '군구'],
    how='inner'
)

merged.head()
merged.shape

(0, 7)

In [48]:
merged[['시도','군구','count','총인구수']].head()

Empty DataFrame
Columns: [시도, 군구, count, 총인구수]
Index: []

In [53]:
print("addr_group 시도:", sorted(addr_group['시도'].unique())[:10])
print("population 시도:", sorted(population['시도'].unique())[:10])

print("addr_group 군구:", sorted(addr_group['군구'].unique())[:10])
print("population 군구:", sorted(population['군구'].unique())[:10])

addr_group 시도: ['강원특별자치도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '대전시', '부산광역시', '부산특별시']
population 시도: ['가평군', '강남구', '강동구', '강릉시', '강북구', '강서구', '강진군', '강화군', '거제시', '거창군']
addr_group 군구: ['가평군', '강남구', '강동구', '강릉시', '강북구', '강진군', '거창군', '경산시', '경주시', '계룡시']
population 군구: ['가평군', '강남구', '강동구', '강릉시', '강북구', '강서구', '강진군', '강화군', '거제시', '거창군']

In [54]:
population = population.rename(
    columns={
        '시도구': '시도',
        '시도': '군구'
    }
)

In [56]:
population.columns

Index(['시도군구', '군구', '군구', '총인구수', '남자인구수', '여자인구수'], dtype='object')

In [58]:
population['시도'] = population['시도군구'].astype(str).str.split().str[0]
population['군구'] = population['시도군구'].astype(str).str.split().str[1]

In [59]:
population[['시도군구','시도','군구']].head(10)

    시도군구    시도  군구  군구
0    종로구   종로구 NaN NaN
1     중구    중구 NaN NaN
2    용산구   용산구 NaN NaN
3    성동구   성동구 NaN NaN
4    광진구   광진구 NaN NaN
5   동대문구  동대문구 NaN NaN
6    중랑구   중랑구 NaN NaN
7    성북구   성북구 NaN NaN
8    강북구   강북구 NaN NaN
9    도봉구   도봉구 NaN NaN

In [60]:
population_gungu = population.drop(columns=['시도','군구'], errors='ignore')
population_gungu['군구'] = population['시도군구']

In [61]:
print(sorted(population['시도'].unique())[:10])
print(sorted(population['군구'].unique())[:10])

['가평군', '강남구', '강동구', '강릉시', '강북구', '강서구', '강진군', '강화군', '거제시', '거창군']

AttributeError: 'DataFrame' object has no attribute 'unique'